# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
GradlewBuild.bat
README.txt
RunClient.bat
changelog.txt

# Files from Forge MDK
forge*changelog.txt
